/* Reset styles */
* {
  padding: 0px;
  margin: 0px;
  font-family: "Rubik", sans-serif;
}

/* Header Styles */

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0px;
  background-color: white;
}

.contimg {
  width: 155px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contimg img {
  width: 100%;
  object-fit: cover;
}

.headerlist {
  display: flex;
  margin-bottom: 13px;
}
.headeritem {
  list-style-type: none;
  font-size: 16px;
}

.headeritem-01 {
  margin-right: 20px;
}

.aheader {
  text-decoration: none;
  color: #4a4a4a;
  text-transform: uppercase;
}

/* Main styles */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #3cdbc0;
}

.h1main {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
}

.titleinner {
  display: block;
}

@media all and (min-width: 768px) {
  /* Header 768px styles */
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contimg {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .headeritem-02 {
    margin-right: 30px;
  }

  .headerlist {
    margin-bottom: 0px;
  }

  /* Main 768px styles */
  .h1main {
    font-size: 40px;
  }
}
